---
import Layout from '../layouts/Layout.astro';
import CopyTextarea from '../components/CopyTextarea';
import SourceChunk from '../components/SourceChunk';

const data = [{
	sourcce: "Facebook",
	situation: "Nos preguntan por algún producto disponible.",
	example: "Hola, ¿tienen X en stock?",
	responses: [
		{heading: "Respuesta afirmativa",msg:"¡Hola sobrinx! Sí, puedes encontrar los detalles en la web (insertar enlace del artículo) y escribirnos directamente a nuestro WhatsApp https://wa.link/01v19p para ayudarte con tu compra 😉"},
		{heading: "Respuesta negativa",msg:"¡Hola sobrinx! De momento no contamos con el artículo disponible/está descontinuado, pero tenemos este (inserte modelo o producto) que te puede servir (insertar enlace del producto) 😉 Para tu asesoría personalizada escríbenos aquí  https://wa.link/01v19p"}
	]
}]

---

<Layout title="Welcome to Astro.">
	<main>
    <div class="prose prose-slate mx-auto lg:prose-lg">
      <h3>Disponibilidad de producto </h3>

			<SourceChunk chunks={data} client:load />

		</div>

	</main>
</Layout>
